body {
    font-family: Arial, Helvetica, sans-serif;
        background-image: url('https://wallpapercave.com/wp/wp4289147.jpg');
        background-color:whitesmoke;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:cover;
}
hr {
    width: 25%;
    display:inline-block;
}
.bottom-text {
    width: 46.5%;
    text-align: center;
    display: inline-block;
}
.input{
    width: 80%;
    height: 8%;
}
.main{
    border: 2px solid black;
    margin: auto ;
    height:450px;    
    width:350px;
    margin-top:65px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px white ;
}

/* Full-width input fields */
input[type=Sagar], input[type=123] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  display: block;
  background-color: #04AA6D;
  color: white;
  padding: 14px 10px;
  margin: 25px 0px 8px 36px ;
  border: none;
  cursor: pointer;
  width: 80%;
  border-radius: 12px;
}
.flex{
    margin: 0 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #fac031;
}

button:hover {
  opacity: 0.8;
  background-color: #fac031;
}


.logo{  
    height: 80px;
    width : 80px;
    margin:25px 80px;
    margin-left: 125px;
}


.icon{
     display:flex;
     justify-content: space-evenly;
     font-size: larger;
}
.icon:hover{
    color: #fac031;
}